{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>24Care</title>

    <link rel="icon" href="assets/images/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic,300,300italic">

    <!-- Begin: MAIN CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/plugins-min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/menu-overright.css' %}">
    <link href="{% static 'assets/css/colors/aqua-yellow.css' %}" type="text/css" media="all" rel="stylesheet"
        id="colors" />
    <link href="{% static 'assets/plugins/switcher/css/demo.css' %}" media="all" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/plugins/switcher/css/demo.css' %}" media="all" rel="stylesheet" type="text/css" />



</head>

<body class="switcher_boxed boxed">

    <!--
    #################################
      - Begin: HEADER -
    #################################
    -->
    <header class="main-header sticky-header dark">
        <nav class="navbar navbar-default">
            <div class="container position-relative">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header border">
                    <!-- Begin: RESPONSIVE MENU TOGGLER -->
                    <button type="button" class="navbar-toggle" data-toggle="modal" data-target=".header-search">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-search"></i>
                    </button>
                    <!-- End: RESPONSIVE MENU TOGGLER -->
                    <!-- Begin: RESPONSIVE MENU TOGGLER -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#nav-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- End: RESPONSIVE MENU TOGGLER -->
                    <!-- Begin: LOGO -->
                    
                    <a class="navbar-brand logo text-weight-700" href="#"><span><i class="fa fa-heartbeat"></i></span> 24Care</a>
                    <!-- End: LOGO -->
                </div>

                <!-- /.navbar-collapse -->

                <div class="collapse navbar-collapse text-weight-400" id="nav-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right margin-right-0">
                        <li> <a href="#"> Grid </a> </li>




                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
    </header>
    <!-- End: HEADER -
    ################################################################## -->


    <!--
    #################################
        - Begin: COUNTERS -
    #################################
    -->
    {% block breadcrumb %}
    <br>
    
    {% endblock %}


{% block content %}
{% endblock %}
    <footer id="footer" class="dark-bg">
        <div class="top-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <!-- Begin: WIDGET -->
                        <div class="widget map-bg">
                            <h3 class="widget-title text-weight-700">Contact Us</h3>
                        </div>
                        <!-- End: WIDGET -->
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End: FOOTER -
    ################################################################## -->
    <!-- Begin: BACK TO TOP -->
    <a id="back-to-top" href="#" class="back-to-top btn btn-base">
        <i class="fa fa-chevron-up"></i>
    </a>
    <!-- End: BACK TO TOP -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->


    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script type="text/javascript" src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/main.js' %}"></script>

    <!-- Begin: REQUIRED FOR THIS PAGE ONLY -->
   
  
   
   
    <!-- Slider JS -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVfiG0WBDC223SzY65Rnj8VWZa3myVPoA"></script>
    <!-- MAP -->



    <script src="{% static 'assets/plugins/switcher/js/demo.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/switcher/js/jquery.cookie.js' %}"></script>
    <script>


        $("#add").click(function (e) {
            var Name = $('input[name=Name]').val()
            var Description = $('input[name=Description]').val()
            var Price = $("input[name=Price]").val()
            $.ajax({
                type: "POST",
                url: '/productadded/',
                dataType: 'json',
                data: JSON.stringify({
                    'name': Name,
                    'description': Description,
                    'price': Price
                }),
                success: getProducts
            });
        });

        document.getElementById('id_social_number').addEventListener('change', function () {
            var social_number = $(this).val();
            // create an AJAX call
            $.ajax({
                data: {
                    'social_number': social_number
                },
                url: "/validate_saudi_id/",
                // on success
                success: function (data) {
                    if (data.is_taken == false) {

                        $('#id_social_number').removeClass('is-valid').addClass('is-invalid');
                        $('#id_social_number').after('<div class="invalid-feedback d-block" id="usernameError">  ' + data.error_message + '  </div>')
                        $("#btnSubmit").attr("disabled", true);
                    }
                    else {
                        $('#id_patiant_no').removeClass('is-invalid').addClass('is-valid');
                        $('#usernameError').remove();
                        $("#btnSubmit").attr("disabled", false);

                    }

                },
                // on error
                error: function (response) {
                    // alert the error if any error occured
                    console.log(response.responseJSON.errors)
                }
            });

            return false;
        });














        // catch the form's submit event
        document.getElementById('id_social_number').addEventListener('change', function () {
            var social_number = $(this).val();
            // create an AJAX call
            $.ajax({
                data: {
                    'social_number': social_number
                },
                url: "/validate_saudi_id/",
                // on success
                success: function (data) {
                    if (data.is_taken == false) {

                        $('#id_social_number').removeClass('is-valid').addClass('is-invalid');
                        $('#id_social_number').after('<div class="invalid-feedback d-block" id="usernameError">  ' + data.error_message + '  </div>')
                        $("#btnSubmit").attr("disabled", true);
                    }
                    else {
                        $('#id_patiant_no').removeClass('is-invalid').addClass('is-valid');
                        $('#usernameError').remove();
                        $("#btnSubmit").attr("disabled", false);

                    }

                },
                // on error
                error: function (response) {
                    // alert the error if any error occured
                    console.log(response.responseJSON.errors)
                }
            });

            return false;
        });

    </script>

    <!-- partial -->

    <script>

        // catch the form's submit event
        document.getElementById('id_social_number').addEventListener('change', function () {
            var social_number = $(this).val();
            // create an AJAX call
            $.ajax({
                data: {
                    'social_number': social_number
                },
                url: "/validate_saudi_id/",
                // on success
                success: function (data) {
                    if (data.is_taken == false) {

                        $('#id_social_number').removeClass('is-valid').addClass('is-invalid');
                        $('#id_social_number').after('<div class="invalid-feedback d-block" id="usernameError">  ' + data.error_message + '  </div>')
                        $("#btnSubmit").attr("disabled", true);
                    }
                    else {
                        $('#id_patiant_no').removeClass('is-invalid').addClass('is-valid');
                        $('#usernameError').remove();
                        $("#btnSubmit").attr("disabled", false);

                    }

                },
                // on error
                error: function (response) {
                    // alert the error if any error occured
                    console.log(response.responseJSON.errors)
                }
            });

            return false;
        });

    </script>

    <!-- SWITCHER | END -->

</body>

</html>