<section class="padding-0 equal-height-row margin--bottom--large none-bg  z-index-2 text-white">
    <div class="container">
        <div class="row">
            <div
                class="col-md-6 col-sm-6 margin-bottom-0 base-bg equal-height-column padding-top-small padding-bottom-small padding-left-small padding-right-small">
                <h1><i class="fa fa-hospital-o text-size-small"></i></h1>
                </h3>
                <div class="row">
                    <h1> Welcom 24Care</h1>
                </div>
                <a href="#"
                    class="btn btn-dark text-uppercase text-weight-700 margin-top-small margin-bottom-small">Read
                    More</a>
            </div>
            <div
                class="parallax col-md-6 col-sm-6 margin-bottom-0 none-bg equal-height-column padding-top-small padding-bottom-small padding-left-small padding-right-small">
                <div class="parallax_child img-medico-1"></div>
            </div>
        </div>
    </div>
</section>
<section class="parallax text-white">
    <div class="parallax_child img-medico-2"></div>
    <div class="container position-relative z-index-2">
        <div class="row custom-5-column margin-top-large">
            <div class="col-md-3 col-sm-6 text-center">
                <div class="counter-number">
                    <i class="fa fa-users text-base text-size-60px"></i>
                    <div class="counternumber text-weight-400 text-size-xsmall margin-top-small margin-bottom-small"
                        data-from="0" data-to="1400" data-speed="1500"></div>
                    <p class="text-capitalize text-black text-spacing-1">Patients</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="counter-number">
                    <i class="fa fa-bed text-base text-size-60px"></i>
                    <div class="counternumber text-weight-400 text-size-xsmall margin-top-small margin-bottom-small"
                        data-from="0" data-to="1000" data-speed="1500"></div>
                    <p class="text-capitalize text-black text-spacing-1">Hospital beds</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="counter-number">
                    <i class="fa fa-user-md text-base text-size-60px"></i>
                    <div class="counternumber text-weight-400 text-size-xsmall margin-top-small margin-bottom-small"
                        data-from="0" data-to="80" data-speed="1500"></div>
                    <p class="text-capitalize text-black text-spacing-1">Doctors</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="counter-number">
                    <i class="fa fa-hospital-o text-base text-size-60px"></i>
                    <div class="counternumber text-weight-400 text-size-xsmall margin-top-small margin-bottom-small"
                        data-from="0" data-to="9000" data-speed="1500"></div>
                    <p class="text-capitalize text-black text-spacing-1">Rooms</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="counter-number">
                    <i class="fa fa-ambulance text-base text-size-60px"></i>
                    <div class="counternumber text-weight-400 text-size-xsmall margin-top-small margin-bottom-small"
                        data-from="0" data-to="2300" data-speed="1500"></div>
                    <p class="text-capitalize text-black text-spacing-1">ambulances</p>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay dark-6"></div>
</section>